*{
    margin: 0;
    padding: 0;
}
.background_fashion{
    width: 100%;
    height: 100vh;
    background-image: url(fashion.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
}
.fashion_logo{
    width: 200px;
    /* Cursor se-resize will make the cursor looks more interesting when point at logo */ 
    cursor: se-resize; 
    padding-right: 10px;
}
.fashion_cart{
    width: 60px;
    cursor: pointer;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
nav{
    flex: 1; /* Flex will allow items to shrink or grow to fit the space available */
    padding-left: 60px;
}
/* Style the list item */
nav ul li { 
    display: inline-block;
    list-style:none;
    margin: 0px 20px;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color:tan;
    text-transform: uppercase;
    font-size: 20px;
}
nav a:hover{
    color:red; /* Allow the Item to appear in red whenever the cursor is pointing */
}
/* Create animation as block whenever the cursor points at the items */
nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: -10px;
    width: 0%;
    transition: all ease-in-out 300ms; /* This allows to delay the display block */

}
nav a:hover::before{
    width: 100%;
}
.fashion_autumn{
    margin-left: 7%;
    margin-top: 10%;
}
.fashion_autumn h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color:dodgerblue;
}
.fashion_autumn p{
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 24px;
    color:tomato;
}
.shop_button{
    display: inline-block;
    background: linear-gradient(45deg,#87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    cursor: progress;
    padding-right: 30px;
}
.model_image{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 70px;
}